---
import Base from "../layouts/Base.astro";
import Hero from "../components/Hero.astro";
import Divider from "../components/Divider.astro";
---

<Base pageTitle="Home page"
  ><div class="bg-violet-400"><Hero /><Divider /></div>
</Base>
