---
import Header from "./Header.astro";
---

<footer class="">
  <div class="px-6 py-4 bg-violet-900 text-violet-200">
    <p>
      &copy; 2022 Gerard Strecker | Full Stack Engineering. All rights reserved.
    </p>
  </div>
</footer>
