---
import Header from "./Header.astro";
import Socails from "./Socails.astro";
---

<footer
  class="flex flex-col sm:flex-row justify-between items-center bg-violet-800 px-6 py-2"
>
  <div class="text-violet-200 sm:order-1 order-2">
    <p>
      &copy; 2022 Gerard Strecker | Full Stack Engineering. All rights reserved.
    </p>
    <span class="text-gray-400"
      >Programmer image: <a
        class="text-white font-bold"
        href="https://vecteezy.com"
        target="_blank">Vecteezy</a
      >
    </span>
  </div>
  <div class="flex order-1 sm:order-2">
    <Socails />
  </div>
</footer>
