---
---

<div class="hamburger pr-18 cursor-pointer group sm:hidden">
  <span
    class="block w-12 h-1 mb-2 bg-violet-100 group-hover:bg-violet-300 rounded"
  ></span>
  <span
    class="block w-12 h-1 mb-2 bg-violet-100 group-hover:bg-violet-300 rounded"
  ></span>
  <span
    class="block w-12 h-1 mb-2 bg-violet-100 group-hover:bg-violet-300 rounded"
  ></span>
</div>
