---
import Socials from "./Socials.astro";
---

<header class="bg-violet-900">
  <nav class="p-2">
    <div class="flex justify-between items-center">
      <a
        class="inline-block px-2 py-4 text-violet-100 font-bold hover:text-violet-300"
        href="/">Home</a
      >
      <div>
        <Socials />
      </div>
    </div>
  </nav>
</header>
