---
---

<div
  class="px-4 py-16 grid grid-cols-1 grid-rows-2 sm:grid-rows-1 gap-2 sm:grid-cols-2 max-w-5xl mx-auto text-violet-100"
>
  <div class="flex justify-center items-center">
    <div class="max-w-lg">
      <h2
        class="uppercase text-center sm:text-start font-bold text-2xl sm:text-3xl"
      >
        hi i'm gerard, a <span class="text-violet-700">full stack</span> software
        engineer
      </h2>
      <div
        class="w-12 ml-2 my-2 border-b-2 hidden sm:block border-b-violet-700"
      >
      </div>
      <p class="text-gray-300 text-lg sm:text-xl">
        My journey is an endless persuit using JavaScript to bring ideas into
        reality. <br /><br />I enjoy exploring new methods and technologies
        within the JavaScript ecosystem to empower me to add value, solve
        problems and sometimes goof off.
      </p>
    </div>
  </div>
  <div class="container row-start-1 sm:col-start-2">
    <div
      class="card transition-all ease-out flex py-12 justify-center items-center shadow-[inset_0_0px_70px_70px_rgba(31,41,55,1)] bg-violet-700/50 bg-blend-overlay bg-[url('/endless-constellation.svg')]"
    >
      <img src="/programmer.png" class="h-64" />
    </div>
  </div>
</div>
