---
type Props = {
  svg?: any;
  title: string;
  skills: string[];
};
const { svg, title, skills } = Astro.props;
---

<div
  class="relative text-center overflow-hidden rounded-lg bg-violet-100 px-4 pt-5 pb-12 shadow sm:px-6 sm:pt-6"
>
  <div class="flex justify-center mb-2">
    <div class="rounded-md bg-violet-800 p-3">
      <slot />
    </div>
  </div>
  <p class="text-2xl font-semibold text-gray-900 mb-2">{title}</p>
  <ul class="text-sm font-medium flex px-3 flex-col gap-3 text-gray-500">
    {
      skills.map((skill) => {
        return (
          <li class="text-left list-disc text-violet-800">
            <span class="text-gray-600">{skill}</span>
          </li>
        );
      })
    }
  </ul>
</div>
