.admin-container {
  width: 80%;
  max-width: 900px;
  .create-project-form-container {
    width: 100%;
    form {
      display: flex;
      flex-direction: column;
      label {
        font-weight: bold;
        text-transform: capitalize;
        margin: 0.5rem 0 0.25rem 0;
        input[type="text"],
        textarea {
          all: unset;
          margin-top: 0.25rem;
          width: 100%;
          color: black;
          box-shadow: 0 5px 15px 2.5px hsla(0, 0%, 15%, 0.25);
          border-radius: 5px;
          padding: 0.5rem;
          border: none;
          background: hsl(0, 1%, 69%);
          cursor: text;
        }
        input:focus,
        textarea:focus {
          border: 1px solid hsl(0, 0%, 100%);
        }
        input[type="file"] {
          //   display: none;
          width: 70%;
        }
      }
      .file {
        border: 1px dashed hsla(0, 0%, 100%, 1);
        background: hsla(0, 1%, 69%, 0.65);
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border-radius: 5px;
        width: 75%;
        min-height: 200px;
        margin: 2rem auto;
        box-shadow: 0 5px 15px 2.5px hsla(0, 0%, 15%, 0.25);
        opacity: 0.65;
        transition: opacity 0.45s ease-in-out;
        .media {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          min-height: 200px;
        }
      }
      .upload {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
        padding: 1rem 0.5rem;
        position: relative;
        font-size: 4rem;
        img {
          width: 100%;
          max-width: 80px;
        }
        span {
          font-size: 1rem;
          font-weight: bold;
        }
        .delete-file-button {
          cursor: pointer;
          transform: scale(1);
          background: hsl(0, 100%, 50%);
          padding: 0.25rem;
          border-radius: 5px;
          position: absolute;
          top: 0;
          right: 0;
        }
        .delete-file-button:hover {
          transform: scale(1.2);
          transition: all 0.25s ease-in-out;
        }
      }
      .active {
        opacity: 1;
      }
      .tech {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .checkbox {
          min-width: 70px;
          position: relative;
          cursor: pointer;
          img {
            width: 100%;
            max-width: 80px;
            transform: scale(0.8);
            opacity: 0.65;
          }
          input {
            cursor: pointer;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            opacity: 0;
          }
        }
        .active {
          img {
            transform: scale(1);
            opacity: 1;
            transition: all 0.25s ease-in-out;
          }
        }
      }
      button {
        margin: 1rem auto;
        max-width: 130px;
        padding: 0.5rem;
        cursor: pointer;
        background: none;
        border: 2px solid hsl(0, 0%, 100%);
        color: hsl(0, 0%, 100%);
        border-radius: 5px;
        transform: scale(0.9);
        font-weight: bold;
        box-shadow: 0 0 15px 2.5px hsla(0, 0%, 15%, 0.25);
      }
      button:hover {
        transform: scale(1);
      }
      button:active {
        transform: scale(0.9);
      }
    }
  }
}
