.projects-container {
  .project-demo-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    .project-demo {
      background: hsl(0, 0%, 75%);
      border-radius: 15px;
      max-width: 450px;
      font-weight: bold;
      margin-right: 2rem;
      margin-top: 2rem;
      box-shadow: 0 5px 15px hsl(0, 0%, 21%);
      img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        max-height: 250px;
        width: 100%;
      }
      video {
        width: 100%;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
      }
      .project-info-container {
        color: hsl(0, 0%, 1%);
        padding: 0 2rem;
        text-align: center;
        position: relative;
        h3 {
          text-transform: uppercase;
          font-size: 1rem;
        }
        p {
          margin-top: 0.5rem;
          font-weight: 400;
          font-size: 0.9rem;
        }
        span {
          position: absolute;
          top: 0.5rem;
          right: 1rem;
          padding: 0 0.25rem;
          background: hsl(0, 100%, 36%);
          border-radius: 5px;
          box-shadow: 0 1px 5px hsl(0, 0%, 21%);
          cursor: pointer;
          transform: scale(1);
        }
        span:hover {
          transform: scale(1.2);
        }
        span:active {
          transform: scale(1);
        }
        .delete-disabled {
          background: hsla(0, 100%, 36%, 0.25);
          color: rgba(0, 0, 0, 0.45);
        }
        .delete-disabled:hover {
          cursor: unset;
          transform: unset;
        }
      }
      .project-technology-container {
        border-top: 1px solid hsla(0, 0%, 55%, 0.61);
        text-align: center;
        max-width: 75%;
        margin: 0.5rem auto;
        padding: 0.5rem;
        ul {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          li {
            width: 2rem;
            img {
              border-radius: unset;
              width: 100%;
            }
          }
        }
      }
      .project-navigation-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 1rem 1rem 1rem;
        button {
          background: none;
          border-radius: 5px;
          border: none;
          background: hsl(187, 100%, 13%);
          color: hsl(0, 0%, 100%);
          font-weight: bold;
          padding: 0.7rem;
          box-shadow: 0 0 10px 1px hsla(0, 0%, 21%, 0.5);
          cursor: pointer;
        }
        button:hover {
          transform: scale(1.1, 1.1);
        }
        button:active {
          transform: scale(1, 1);
        }
        .disabled {
          cursor: unset;
          color: hsla(0, 0%, 21%, 0.5);
          border-color: hsla(0, 0%, 21%, 0.5);
        }
        .disabled:hover {
          transform: unset;
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .projects-container {
    .project-demo-container {
      .project-demo {
        max-width: 90%;
        margin: 0.5rem auto;
      }
    }
  }
}
